@model LinkedInUserProfileViewModel

@{
    ViewBag.Title = "Profile Page";
    Layout = "~/Views/Shared/_My_Layout.cshtml";

    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        Confirm = "Do You Want To Add These Data?",
        HttpMethod = "POST",
        UpdateTargetId = "user_experience",
        InsertionMode = InsertionMode.Replace,

    };
}

<!-- #region Modals Rendering Section -->
@Html.Partial("_PartialEditUserInformation")
@Html.Partial("_PartialAddExperience")
@Html.Partial("_PartialEditExperience")
@Html.Partial("_PartialAddEducation")
@Html.Partial("_PartialAddSkill")
<!-- #endregion -->

<div class="profile_parent container">

    <div class="left_profile">
        <div class="profile_section">
            <div id="cover_image" class="background_image bordered_section">
                <div id="profile_image" class="profile_picture">

                </div>
                <a href="" class="edit_section" data-toggle="modal" data-target="#ModalEditInformation"><i class="fas fa-edit"></i></a>

            </div>

            @Html.Partial("_PartialUserBasicInformation", Model)

        </div>

        <div class="experience_education">

            @Html.Partial("_PartialUserExperience", Model)


            <div class="exp">
                <div class="experience_education_heading">
                    <h3 class="experience_education_heading_header">Education</h3>
                    <a href="" data-toggle="modal" data-target="#ModalAddEducation"><i class="fas fa-plus"></i></a>
                </div>
                @{
                    if (Model.Educations != null)
                    {
                        foreach (var item in Model.Educations)
                        {
                            <div class="experience_education_section">
                                <div class="experience_education_section_image"></div>
                                <div class="experience_education_section_content">

                                    <div class="experience_education_section_context">
                                        <h3>@item.School</h3>
                                        <p>@item.Degree</p>
                                        <p>@item.StartDate.Year - @item.EndDate.Year</p>
                                    </div>
                                    <div class="experience_education_section_edit"> <i class="fas fa-edit"></i></div>

                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>You Have To Add New Education</p>
                    }
                }

            </div>
        </div>


        <div class="Skills_Endorsements">
            <div class="exp">
                <div class="experience_education_heading">
                    <h3 class="experience_education_heading_header"> Skills & Endorsements </h3>
                    <i class="fas fa-edit Skills_Endorsements_icons"></i>
                    <a href="" data-toggle="modal" data-target="#ModalAddSkill"><i class="fas fa-plus"></i></a>
                </div>
                @{
                    if (Model.Skills != null)
                    {
                        foreach (var item in Model.Skills)
                        {
                            <div>
                                <h3 class="skill_heading">@item.Name</h3>
                                <p>endorsements</p>
                            </div>
                        }
                    }

                }


            </div>

        </div>

        <div class="Accomplishments">
            <div class="exp">
                <div class="experience_education_heading">
                    <h3 class="experience_education_heading_header"> Accomplishments </h3>
                    <i class="fas fa-plus"></i>
                </div>

                <div class="Accomplishments_section">
                    <div class="Accomplishments_label">2</div>
                    <div class="Accomplishments_content">
                        <p class="skill_heading">Accomplishment 1</p>
                        <p>endorsements</p>
                    </div>

                </div>

            </div>

        </div>

        <div class="Interests">
            <h3>Interests</h3>
            <div class="interest">
                <div class="Interests_image">

                </div>
                <h2>Zamil Steel</h2>
                <p>3315 followers</p>
            </div>
            <div class="interest">
                <div class="Interests_image">

                </div>
                <h2>Zamil Steel</h2>
                <p>3315 followers</p>
            </div>


        </div>

    </div>
    <div class="right_profile">
        right
    </div>
</div>


<footer>
    <div class="container">

        <p class="footer_label">Linked<span>in</span></p>
        <div class="footer_links">
            <div class="left_profile">
                <p class="footer_link"><a href="">About</a></p>
                <p class="footer_link"><a href="">Talent Solution</a></p>
                <p class="footer_link"><a href="">Community Guidlines</a></p>

                <p class="footer_link"><a href="">Careers</a></p>
                <p class="footer_link"><a href="">Marketing Solution</a></p>
                <p class="footer_link"><a href="">Privacy & Terms</a></p>

                <p class="footer_link"><a href="">Advertising</a></p>
                <p class="footer_link"><a href="">Sales Solution</a></p>
                <p class="footer_link"><a href="">Send Feedback</a></p>

                <p class="footer_link"><a href="">Mobile</a></p>
                <p class="footer_link"><a href="">Small Business</a></p>
                <p class="footer_link"><a href="">Saftey Center</a></p>
            </div>

            <div class="right_profile">
                <div>
                    <i></i>
                    <h3>Questions?</h3>
                    <p>Visit our Help Center.</p>
                </div>

                <div class="quest">
                    <i></i>
                    <h3>Manage your account and privacy.</h3>
                    <p>Go to your Settings..</p>
                </div>
            </div>
        </div>
        <p class="copyrights">LinkedIn Corporation © 2019</p>
    </div>

</footer>

<script>

    var _cover_image = document.getElementById("cover_image");
    var _profile_image = document.getElementById("profile_image");

    onload = function () {

        _cover_image.style.backgroundSize = "cover";
        _cover_image.style.backgroundImage = ("url(@Url.Content("~/Images/Default_cover.jpg"))");

        _profile_image.style.backgroundSize = "cover";
        _profile_image.style.backgroundImage = ("url(@Url.Content("~/Images/Default_profile.png"))");



    }

    function LoadExperience(id) {

        //window.location.href = `LoadExperience/${id}`;
        $.ajax({
            url: `/home/LoadExperience/${id}`,
            type: "GET",
            success: function (data) {
                $("#ModalEditExperience").modal();
                console.log(data);

                //if (data) {
                //    let ele = document.getElementById(`id-${id}`);
                //    ele.remove();
                //}
            },

            error: function (err) {
                console.log("Error");
            }
        });
        //$("#ModalEditExperience").modal()
    }
</script>