@using Microsoft.AspNet.Identity
@{
    var currentUserId = User.Identity.GetUserId();
    ApplicationDbContext _ctxt = new ApplicationDbContext();
    var currentuser = _ctxt.Users.Where(u => u.Id == currentUserId).FirstOrDefault();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/MyContent/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>
<body>

    <nav class="nav">
        <div style="width:25px;height:25px;background-color:white;position:absolute;top:13px;left:260px;"></div>

        <div class="container">
            <div class="navbar">
                <div class="left_nav">
                    <ul>
                        <li class="linked_in_logo"><a href="~/home/wall"><i class="fab fa-linkedin"></i></a></li>
                        <li><input type="text" placeholder="Search" class="search"></li>
                    </ul>
                </div>
                <div class="right_nav">
                    <ul>
                        <li>
                            <a href="~/home/wall">
                                <i class="fas fa-home"></i>
                                <div>Home</div>
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-users"></i>
                            <div>My Network</div>
                        </li>
                        <li>
                            <i class="fas fa-briefcase"></i>
                            <div>Jobs</div>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <div>Messaging</div>
                        </li>
                        <li>
                            <i class="fas fa-bell"></i>
                            <div>Notifiactions</div>
                        </li>
                        <li>
                            <i class="fas fa-sign-out-alt"></i>
                            <div><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></div>
                        </li>
                        <li class="last_item">
                            <a href="~/account/ProfilePage">
                                <div class="myphoto" style="background-size:cover;background-image:url(/Images/@currentuser.ImageURL)"></div>
                                <div>Me <i class="fas fa-caret-down"></i> </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </nav>

    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            
        }
    }
    else
    {
        
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
