@model LinkedInUserProfileViewModel

@{
    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "user_educations",
        InsertionMode = InsertionMode.Replace,

    };
}

<div id="user_educations" class="exp">
    <div class="experience_education_heading">
        <h3 class="experience_education_heading_header">Educations</h3>
        <a href="" data-toggle="modal" data-target="#ModalAddEducation"><i class="fas fa-plus"></i></a>
    </div>
    @{
        if (Model.Educations.Count != 0)
        {
            foreach (var item in Model.Educations)
            {
                if (Model.education == null || Model.education != item)
                {
                    using (Ajax.BeginForm("LoadEducation", "Account", new { id = item.Id }, ajaxOptions))
                    {
                        <div class="experience_education_section">
                            <div class="experience_education_section_image"></div>
                            <div class="experience_education_section_content">

                                <div class="experience_education_section_context">
                                    <h3>@item.School</h3>
                                    <p>@item.Degree</p>
                                    <p>@item.StartDate.Year - @item.EndDate.Year</p>
                                </div>
                                <div class="experience_education_section_edit">
                                    <input type="submit" value="Edit" class="btn btn-link" />
                                    @Html.ActionLink("Delete", "DeleteEducation", new { id = item.Id })
                                </div>

                            </div>
                        </div>
                    }

                }
                else
                {
                    using (Ajax.BeginForm("EditEducationAjax", "Account", ajaxOptions))
                    {
                        <div class="experience_education_section">
                            <div class="experience_education_section_image"></div>
                            <div class="experience_education_section_content">

                                <div class="experience_education_section_context">
                                    <div class="form-group">
                                        @Html.TextBoxFor(e => Model.education.School, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(e => Model.education.Degree, new { @class = "form-control" })

                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(e => Model.education.StartDate, new { @class = "form-control" })

                                    </div>

                                    <div class="form-group">
                                        @Html.TextBoxFor(e => Model.education.EndDate, new { @class = "form-control" })

                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                        <input type="submit" value="Cancel" class="btn btn-default" />
                                    </div>

                                    @Html.HiddenFor(e => Model.education.Id)
                                </div>

                            </div>
                        </div>

                    }

                }

            }
        }
        else
        {
            <h3>You Have To Add New Education</h3>
        }
    }

</div>