@model LinkedInUserProfileViewModel

@{
    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        Confirm = "Do You Want To Add These Data?",
        HttpMethod = "POST",
        UpdateTargetId = "user_experience",
        InsertionMode = InsertionMode.Replace,

    };
}


<head>
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@
</head>


@using (Ajax.BeginForm("EditExperienceAjax", "Account", ajaxOptions))
{
    <div class="modal fade bs-example-modal-lg" id="ModalEditExperience" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalEditExperience">Edit Experience</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(e => Model.experience.Title)
                        @Html.TextBoxFor(e => Model.experience.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => Model.experience.Title)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(e => e.experience.Company)
                        @Html.TextBoxFor(e => e.experience.Company, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.experience.Company)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(e => e.experience.Location)
                        @Html.TextBoxFor(e => e.experience.Location, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.experience.Location)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(e => e.experience.StartDate)
                        @Html.TextBoxFor(e => e.experience.StartDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.experience.StartDate)
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(e => e.experience.EndDate)
                        @Html.TextBoxFor(e => e.experience.EndDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.experience.EndDate)
                    </div>

                    @Html.HiddenFor(e=>e.experience.Id)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>



}
