@model LinkedInUserProfileViewModel

@{
    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "user_experiences",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "$('#ModalAddExperience').modal('hide')"

    };
}


@using (Ajax.BeginForm("AddExperienceAjax", "Account", ajaxOptions))
{
    <div class="modal fade bs-example-modal-lg" id="ModalAddExperience" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Experience</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(e => e.experience.Title)
                        @Html.TextBoxFor(e => e.experience.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.experience.Title)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(e => e.experience.Company)
                        @Html.TextBoxFor(e => e.experience.Company, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.experience.Company)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(e => e.experience.Location)
                        @Html.TextBoxFor(e => e.experience.Location, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.experience.Location)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(e => e.experience.StartDate)
                        @Html.TextBoxFor(e => e.experience.StartDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.experience.StartDate)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(e => e.experience.EndDate)
                        @Html.TextBoxFor(e => e.experience.EndDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.experience.EndDate)
                    </div>

                    @Html.HiddenFor(e => e.experience.FK_LinkedInUserId)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>



}
