@model LinkedInUserProfileViewModel

@{
    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "user_information",
        InsertionMode = InsertionMode.Replace,

    };
}
<div id="user_information" class="info bordered_section">
    <div id="cover_image" class="background_image" style="background-image:url(/Images/@Model.User.CoverURL);border-bottom:2px solid rgb(168, 168, 168)">
        
            <div id="profile_image" class="profile_picture" style="background-size:cover;background-image:url(/Images/@Model.User.ImageURL)">
                
            </div>
        <a href="" class="edit_section" data-toggle="modal" data-target="#ModalEditInformation"><i class="fas fa-edit"></i></a>
    </div>
    <div class="left_info padded_section">
        
        <h2 id="account_name">@Model.User.FName</h2>
        <h3 id="account_position">@Model.User.Position</h3>
        <p id="account_country">@Model.User.Country</p>
        <div class="left_info_buttons">
            <button class="btn1">Add Profile Section</button>
            <button class="btn2">More...</button>
        </div>
    </div>
    <div class="right_info padded_section">
        <h3><i class="fas fa-graduation-cap" style="margin-right:10px;"></i>@Model.User.School</h3>
        <h3><i class="fas fa-university" style="margin-right:14px;"></i>@Model.User.University</h3>
        <h3><a href=""><i class="far fa-address-book" style="margin-right:15px;"></i>See Contact info</a></h3>
        <h3><a href="/home/network"><i class="fas fa-user" style="margin-right:15px;"></i>See connections(100)</a></h3>
    </div>
    <div style="clear:both"></div>
    <div class=" bio">
        <p>
            @Model.User.Bio
        </p>
    </div>
</div>
